<ion-content>
  <ion-grid *ngIf="showPhotos"> <--- Agrega *ngIf aquí
    <ion-row>
      <ion-col size="6" *ngFor="let photo of photoService.photos">
        <ion-card>
          <img [src]="photo.webviewPath" />
          <ion-card-content>
            <p>{{ photo.filepath }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-button expand="full" (click)="loadPhotos()">Cargar Fotos</ion-button>
  </ion-fab>
</ion-content>


<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Photo Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let photo of photoService.photos">
        <ion-card>
          <img [src]="photo.webviewPath" />
          <ion-card-content>
            <p>{{ photo.filepath }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>  

</ion-content> -->